.detail-card{
    color: #222222;
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
}
.div-img-detail{
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #222222;
}
.div-detail-product{
    height: 355px;
    background-color: white;
    display: flex;
    text-align: center;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divDescriptionProduct {
    width: 80%;
}
.buttonToCart{
        margin-top: 20px;
        border-radius: 9px;
        border: 2px solid #222222;
        font-weight: 600;
        padding: 5px;
    }
    .buttonToCart:hover{
        scale: 1.08;
        background-color: #22222263;
        color: white;
    }
