.card{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    background-color: #171d25;
    border: 2px solid transparent;
    margin: 15px;
    flex-direction: column;
    align-items: center;

}
.card:hover{
    scale: 1.08;
    transition: 0.70s;
}
img{
    width: 250px;
}
.button-card{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    border: 2px solid transparent;
    padding: 5px;
    margin-bottom: 10px;
}
.button-card:hover{
    scale: 1.08;
    background-color: #1982cf;

}
.linkItem{
    text-decoration: none;
}