.divNavBar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: whitesmoke;
    background-color:#222222;
}
.divLogo{
    width: 80px;
}
.img-logo{
    width: 50px;
}
.img-logo:hover{
    width: 60px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 40%;
    align-items: center;
}
li:hover{
    color: gray;
}
.cart-navbar{
    display: flex;
    align-items: center;
}

