.divNavBar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    background-color: #171d25;
}
.divLogo{
    display: flex;
    width: 5%;
    align-items: center;
    justify-content: center;
}
.img-logo{
    width: 50px;
}
.img-logo:hover{
    scale: 1.2;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 40%;
    align-items: center;
    padding: 0px;
}
.link-category{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 400;
}
.link-category:hover{
    scale: 1.08;
    color:#1982cf;
    border-bottom: #1982cf 3px solid;

}

