.itemLoading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.iconLoading{
    width: 40%;
}
.titleLoading{
    width: 40%;
    font-size: 17px;
    font-weight: 800;
}